<ul class="nav navbar-nav">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@User.ToString()<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li>
                @Html.ActionLink("Minha Conta", "Sobre", new { @Controller = "MinhaConta" })
            </li>
            <li>
                @Html.ActionLink("Sair", "Sair", new { @Controller = "MinhaConta" })
            </li>
        </ul>
    </li>
</ul>
